.grain-background {
  position: fixed;
  height: 1600px;

}

.outer-scratch, .inner-scratch {
  content: '';
  width: 120%;
  opacity: 0.7;
  height: 100%;
  position: fixed;
  top: -5%;
  left: -5%;
  padding-left: 100px;
  background: url('./assets/images/background/scratch.png') repeat center center;
}

.inner-scratch {
  left: 30%;
}

.grain {
  content: '';
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  opacity: .11;
  background: url('./assets/images/background/grain.jpg') repeat center center; /*TODO: try to recreate this with 'repeatable' edges? */
}

.video {
 filter: brightness(0.40) blur(10px) sepia(0.5);
 /* The min width had to be set for both */
 min-width: 230vh;
 transform: translateY(-50px) translateX(-245px);
 justify-content: center;
 align-content: center;

}

.video-wrapper {
  background-color: #000;
  position: fixed;
  display: flex;
  min-width: 230vh;
  z-index: -1;
  overflow: clip;
}



@media and min-width(600px) {
  .video {
    filter: brightness(0.75) blur(10px);
    /* The min width had to be set for both */
    min-width: 60vw;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    object-fit: fill;
   }
   .grain-background: {
      object-fit: fill;
      min-height: 100vw;
   }
}