.grain-background {
  position: fixed;
  width: 100vw;
}


.outer-scratch, .inner-scratch {
  height: inherit;
  opacity: .07;
}

.outer-scratch:after, .inner-scratch:after {
  content: '';
  width: 120%;
  height: 100%;
  position: fixed;
  top: -5%;
  left: -5%;
  padding-left: 100px;
  background: url('./assets/images/background/scratch.png') repeat center center;
}

.inner-scratch:after {
  left: 30%;
}

.grain:after {
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: .11;
  background: url('./assets/images/background/grain.jpg') repeat center center; /*TODO: try to recreate this with 'repeatable' edges? */
}

.video {
 filter: brightness(0.40) blur(10px) sepia(0.5);
 /* The min width had to be set for both */
 min-width: 230vh;
 transform: translateY(-50px) translateX(-245px);
 justify-content: center;
 align-content: center;
 overflow: hidden;
 object-fit: fill;
}

.video-wrapper {
  background-color: #000;
  position: fixed;
  display: flex;
  min-width: 230vh;
  z-index: -1;
}



@media and min-width(600px) {
  .video {
    filter: brightness(0.75) blur(10px);
    /* The min width had to be set for both */
    min-width: 60vw;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    object-fit: fill;
   }
   .grain-background: {
      object-fit: fill;
      min-height: 100vw;
   }
}