.video {
 filter: brightness(0.50) blur(10px) sepia(0.5);
 /* The min width had to be set for both */
 min-width: 240vh;
 transform: translateY(-35px) translateX(-265px);
 justify-content: center;
 align-content: center;

}

.video-wrapper {
  background-color: #000;
  position: fixed;
  display: flex;
  min-width: 235vh;
  z-index: -1;
  overflow: clip;
}

@media and min-width(600px) {
  .video {
    filter: brightness(0.75) blur(10px);
    /* The min width had to be set for both */
    min-width: 80vw;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    object-fit: fill;
   }
}